{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input name="current-password" type="password" placeholder="Current Password">
            <input name="confirmation" type="password" placeholder="Confirmation">
            <input name="new-password" type="password" placeholder="New Password">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}